<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMinside</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/song.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <%- include('nav.html') %>
    <input type="text" id="albumTitle" value='<%=album.albumID%>' style="display:none">
    <div id="song" style="background-image: url(../upload/<%=album.image%>);">
        <div id="song-info">
            <ul id="song-info-list">
                <li id="title" class="fs-3 fw-lighter white-border"><%= music.title %></li>
                <li id="artist" class="fw-lighter white-border"><%= album.artist %></li>
                <li id="lyrics-container">
                    <div id="songImage" style="background-image: url(../upload/<%=album.image%>); cursor:pointer;" onclick="window.location.href =`/album/${document.getElementById('albumTitle').value}`"></div>
                    <div id="hiddenSongImage" style="display:none; background-image: url(../upload/<%=album.image%>);" onclick="
                        document.getElementById('lyrics').style.cursor = 'pointer'
                        document.getElementById('lyrics').style.height = '70px'
                        document.getElementById('lyrics').style.textAlign = 'center'
                        document.getElementById('lyrics').style.paddingLeft = '0';
                        document.getElementById('songImage').style.display = 'block'
                        document.getElementById('hiddenSongImage').style.cursor = 'default'
                        document.getElementById('hiddenSongImage').style.display = 'none'
                    "></div>
                    <div id="lyrics" class="fw-lighter white-border" style="line-height : 1.7" onclick="
                        this.style.textAlign = 'start';
                        document.getElementById('lyrics').style.height = '314px'
                        this.style.paddingLeft = '20px';
                        document.getElementById('lyrics').style.cursor = 'default'
                        document.getElementById('songImage').style.display = 'none'
                        document.getElementById('hiddenSongImage').style.cursor = 'pointer'
                        document.getElementById('hiddenSongImage').style.display = 'block'
                    "><%- music.lyrics.replace(/\n/g, '<br>') %></div>
                </li>
                <div class="audio-progress">
                    <div id="progress-bar" class="progress-bar"></div>
                    <div class="progress-dot"></div>
                </div>
                <li id="play-bar2">
                    <div id="previous"><img class="icons" id="prev-icon" src="../images/prev.png"></div>
                    <div id="play"><img class="icons icon" id="play-icon" src="../images/play.png"></div>
                    <div id="pause"><img class="icons icon" id="pause-icon" style="display : none" src="../images/pause.png"></div>
                    <div id="next"><img class="icons" id="next-icon" src="../images/next.png"></div>
                </li>
            </ul>
        </div>
    </div>

    <audio id="my-audio" style="display:none" controls autoplay>
        <source src="../upload/<%=music.audio%>" type="audio/mpeg">
    </audio>
    <input type="text" id="song-order" data-id="<%= JSON.stringify(songs)%>" hidden>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const audio = document.getElementById('my-audio');
        const progressBar = document.querySelector('.progress-bar');
        const progressDot = document.querySelector('.progress-dot');
        const audioProgress = document.querySelector('.audio-progress');
        var songOrder = JSON.parse(document.getElementById('song-order').getAttribute('data-id'));
        const target = document.getElementById('title').textContent;
        index = 0;
        audio.addEventListener('ended', () => {
            for (let i = 0; i < songOrder.length; i++) {
                if (songOrder[i].title === target) {
                    index = i;
                    break;
                }
            }
            if ( index == songOrder.length - 1 ) {
                window.location.href = `/song/${songOrder[0].__id}`;
            } else {
                window.location.href = `/song/${songOrder[index + 1].__id}`;
            }
        })
        document.getElementById('next').addEventListener('click', () => {
            for (let i = 0; i < songOrder.length; i++) {
                if (songOrder[i].title === target) {
                    index = i;
                    break;
                }
            }
            if ( index == songOrder.length - 1 ) {
                window.location.href = `/song/${songOrder[0].__id}`;
            } else {
                window.location.href = `/song/${songOrder[index + 1].__id}`;
            }
        })
        document.getElementById('previous').addEventListener('click', () => {
            for (let i = 0; i < songOrder.length; i++) {
                if (songOrder[i].title === target) {
                    index = i;
                    break;
                }
            }
            if ( index == 0 ) {
                window.location.href = `/song/${songOrder[songOrder.length - 1].__id}`;
            } else {
                window.location.href = `/song/${songOrder[index - 1].__id}`;
            }
        })
        audio.addEventListener('timeupdate', function() {
        const progress = (audio.currentTime / audio.duration) * 100;
        progressBar.style.width = `${progress}%`;
        progressDot.style.left = `${progress}%`;
        });
        audioProgress.addEventListener('click', function(event) {
            const boundingRect = audioProgress.getBoundingClientRect();
            const offsetX = event.clientX - boundingRect.left;
            const percentage = offsetX / audioProgress.offsetWidth;
            audio.currentTime = audio.duration * percentage;
        });
        let isDragging = false;

        function updateProgressBar() {
        const progress = (audio.currentTime / audio.duration) * 100;
        progressBar.style.width = `${progress}%`;
        }

        audioProgress.addEventListener('mousedown', function(event) {
        isDragging = true;
        updateAudioPosition(event.clientX);
        updateProgressBar();
        document.addEventListener('mousemove', mousemoveHandler);
        });

        document.addEventListener('mouseup', function(event) {
        isDragging = false;
        document.removeEventListener('mousemove', mousemoveHandler);
        });

        function updateAudioPosition(clientX) {
        const boundingRect = audioProgress.getBoundingClientRect();
        const offsetX = clientX - boundingRect.left;
        const percentage = offsetX / audioProgress.offsetWidth;
        audio.currentTime = audio.duration * percentage;
        }

        function mousemoveHandler(event) {
        if (isDragging) {
            updateAudioPosition(event.clientX);
            updateProgressBar();
        }
        }
        var playIcon = document.getElementById('play-icon');
        var pauseIcon = document.getElementById('pause-icon');
        var icon = document.getElementsByClassName('icon');
        var iconElements = Array.from(document.getElementsByClassName('icon'));
        playIcon.style.display = 'none';
        pauseIcon.style.display = 'inline';
        function togglePlayPause() {
            if (audio.paused) {
                audio.play();
                playIcon.style.display = 'none';
                pauseIcon.style.display = 'inline';
            } else {
                audio.pause();
                playIcon.style.display = 'inline';
                pauseIcon.style.display = 'none';
            }
        }

        iconElements.forEach(iconElement => {
            iconElement.addEventListener('click', togglePlayPause);
        });
        audio.addEventListener('ended', function() {
            playIcon.style.display = 'inline';
            pauseIcon.style.display = 'none';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
